@model TeamD_Database.Entity.Rental

@{
    ViewData["Title"] = "返却";
}

<h1 class = "m-5">返却</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssetsNo" />
            <div class="form-group">
                <label asp-for="AssetsNo" class="control-label">資産番号</label>
                <input asp-for="AssetsNo" class="form-control" id="AssetsNo" readonly />
                <span asp-validation-for="AssetsNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeNo" class="control-label">社員番号</label>
                <input asp-for="EmployeeNo" class="form-control" id="EmployeeNo" required />
                <span asp-validation-for="EmployeeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" asp-action="Index">戻る</button>
                <input type="submit" value="返却" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

