@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "貸出一覧";
}
<div> 貸出一覧を表示する</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-primary me-md-2" type="button" onclick="history.back()">戻る</button>
</div>
